.commentsWrapper {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #8080804f;
    border-radius: 3px;

    h2{
        margin: 0;
        font-size: 18px;
    }

    .comments{

        ul>li{
            margin-top: 10px;
        }

        ul>li>ul>li {
            margin-left: 20px;
            margin-top: 10px;
        }

        ul>li>ul>li>ul>li>div>div:nth-child(3) {
            display: none;
        }
    }

    .answer {
        margin-top: 30px;
    }
}