.searchWrapper{
    display: flex;
    position: relative;
    align-items: center;

    .searchBtn{
        margin-right: 10px;
    
        .searchLink {
            
        }
    }

    & input[type=text]{
        padding-right: 20px;
    }

    .clearBtn{
        position: absolute;
        right: 5px;
        top: 20%;
        z-index: 10;
    }
}



