.dropdownPosition{
    top: 100%!important;
}

.h100{
    height: 100%;
}

.logo a{
    color: black;
}

.logIn {
    display: flex;

    span{
        color: black;
    }
}

.nick {
    max-width: 100px;
}