html{
  font-size: 14px;
}
h1{
    font-size: 3rem;
    padding: 0;
    margin: 1rem 0;
  }
#root{
  background-color: #f7f7f7;
}

main{
  min-height: calc(100vh - 114px);
  overflow: hidden;
}

.bg-cont {
  margin-top: 10px;
  margin-bottom: 10px;
}